<mat-toolbar color="primary">
  <img alt="" src="assets/uniaufgaben_logo.png" style="width: 35px; margin-right: 10px">
  <a>UniAufgaben</a>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button *ngIf="isAuthenticated" routerLink="">Dashboard</a>
    </li>
    <li>
      <a mat-button *ngIf="isAuthenticated" routerLink="/kurse">Kurse</a>
    </li>
    <li>
      <a mat-button *ngIf="isAuthenticated" routerLink="/aufgaben">Aufgaben</a>
    </li>
    <li>
      <a mat-button *ngIf="isAuthenticated" routerLink="/konto">Konto</a>
    </li>
    <li>
      <a mat-button *ngIf="isAuthenticated" (click)="onLogout()">Abmelden</a>
    </li>
    <li>
      <a mat-button *ngIf="!isAuthenticated" routerLink="/signup">Registrieren</a>
    </li>
    <li>
      <a mat-button *ngIf="!isAuthenticated" routerLink="/login">Anmelden</a>
    </li>
  </ul>
</mat-toolbar>
