<div mat-dialog-title>Kurs "{{data.name}}" löschen?</div>
<div mat-dialog-content>
    Sie sind im Begriff, einen Kurs zu löschen.
    <br>Sämtliche Aufgaben, welche diesem Kurs zugewiesen sind werden ebenfalls gelöscht.
    <br>Fortfahren?
</div>

<div mat-dialog-actions>
    <mat-progress-bar *ngIf="deleting" mode="query"></mat-progress-bar>
    <button mat-flat-button *ngIf="!deleting" color="primary" [disabled]="deleting" (click)="onCancel()">
        <mat-icon fontIcon="cancel"></mat-icon>
        Abbrechen
    </button>

    <button mat-flat-button *ngIf="!deleting" color="warn" [disabled]="deleting" (click)="onDelete()">
        <mat-icon fontIcon="delete"></mat-icon>
        Löschen
    </button>
</div>
