#####
# WICHTIG: Dies ist die Vorlage der benötigten Variablen
# für die Datenbank.
#
# Damit die Applikation funktioniert, müssen die nötigen
# Daten in dieser Datei eingegeben werden.
#
# Diese Datei muss dann von ".env.template" auf ".env"
# umbenannt und in .gitignore hinzugefügt werden.
#####

# Anmeldedaten für die URL, mit welcher sich das Backend zur MongoDB-Datenbank verbindet.
DB_AUTH_USERNAME='' # Nutzername
DB_AUTH_PASS='' # Passwort
DB_AUTH_HOST='' # URL des Hosts
DB_AUTH_COLLECTION='' # Collection

# Geheimer String, welcher bei der Anmeldung eines Nutzers verwendet wird.
TOKEN_KEY=''
