/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;

$theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$teal-palette),
    accent: mat.define-palette(mat.$cyan-palette),
    warn: mat.define-palette(mat.$red-palette)
  )
));

@include mat.all-component-themes($theme);
@include mtx.all-component-themes($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
