<div class="titlebar">
  <h1>Kursübersicht</h1>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" routerLink="../kurs/neu" [disabled]="loading">
    <mat-icon fontIcon="add"></mat-icon>
    Kurs erstellen
  </button>
</div>

<div *ngIf="loading">
  <p>Kurse werden geladen...</p>
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>


<div class="mat-elevation-z8">
  <form [formGroup]="filterForm" class="search form">
    <mat-form-field appearance="outline">
      <mat-label>Suche</mat-label>
      <input matInput
             formControlName="sucheFC"
             class="search-bar"
             (keyup)="onFilter()">
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 10px;">
      <mat-label>Semester</mat-label>
      <input matInput
             formControlName="semesterFC"
             class="search-bar"
             type="number"
             min="1"
             (change)="onFilter()">
    </mat-form-field>
    <div><button mat-icon-button class="clearFilter" (click)="onClear()"><mat-icon fontIcon="filter_alt_off"></mat-icon></button></div>
  </form>

  <table mat-table matSort [dataSource]="kursDataSource" multiTemplateDataRows (matSortChange)="onSort()" *ngIf="!loading">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kurs</th>
      <td mat-cell *matCellDef="let kurs">{{kurs['name']}}</td>
    </ng-container>

    <ng-container matColumnDef="semester">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Semester</th>
      <td mat-cell *matCellDef="let kurs">{{kurs['semester']}}</td>
    </ng-container>

    <ng-container matColumnDef="fach">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fach</th>
      <td mat-cell *matCellDef="let kurs">{{kurs['fach']}}</td>
    </ng-container>

    <ng-container matColumnDef="optionen">
      <th mat-header-cell *matHeaderCellDef style="width: 20px"></th>
      <td mat-cell *matCellDef="let kurs">
        <button mat-icon-button (click)="(expandedElement = expandedElement === kurs ? null : kurs); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== kurs">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === kurs">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedInfo">
      <td mat-cell *matCellDef="let kurs" [colSpan]="spaltenErweitert.length">
        <div [@detailExpand]="kurs == expandedElement ? 'expanded' : 'collapsed'">
          <mat-card class="table">
            <mat-card-title>{{kurs.name}}</mat-card-title>
            <mat-card-subtitle>{{kurs.semester}}.Semester, {{kurs.fach}}</mat-card-subtitle>
            <mat-card-content>
              <a *ngIf="!kurs.bewertet">Dieser Kurs wird nicht bewertet.</a>
              <div *ngIf="kurs.bewertet">
                <ng-container *ngIf="(kurs.serien_insgesamt-kurs.serien_benoetigt) >= kurs.serien_nicht_bestanden && kurs.serien_bestanden < kurs.serien_benoetigt; else success">
                  <a>{{kurs.serien_bestanden}} von {{kurs.serien_benoetigt}} benötigten Serien wurden bisher bestanden.</a>
                  <mat-progress-bar color="accent" [value]="getProgress(kurs.serien_benoetigt,kurs.serien_bestanden)"></mat-progress-bar>
                </ng-container>

                <ng-template #success>
                  <ng-container *ngIf="kurs.serien_bestanden >= kurs.serien_benoetigt; else fail">
                    <a style="color: #009150">Die benötigte Anzahl an bestandenen Serien wurde erreicht. ({{kurs.serien_benoetigt}} benötigt, {{kurs.serien_bestanden}} bestanden)</a>
                    <mat-progress-bar color="primary" [value]="getProgress(kurs.serien_benoetigt,kurs.serien_bestanden)"></mat-progress-bar>
                  </ng-container>
                </ng-template>

                <ng-template #fail>
                  <ng-container>
                    <a style="color: #a60000">Die benötigte Anzahl an bestandenen Serien kann nicht erreicht werden. ({{kurs.serien_benoetigt}} benötigt, {{kurs.serien_bestanden}} bestanden)</a>
                    <mat-progress-bar color="warn" [value]="getProgress(kurs.serien_benoetigt,kurs.serien_bestanden)"></mat-progress-bar>
                  </ng-container>
                </ng-template>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary" [routerLink]="['../aufgaben/',kurs.id]">
                <mat-icon fontIcon="file_open"></mat-icon>
                Kurs öffnen
              </button>

              <button mat-flat-button color="primary" class="space-between" [routerLink]="['../kurs/bearbeiten',kurs.id]">
                <mat-icon fontIcon="edit"></mat-icon>
                Kurs bearbeiten
              </button>

              <button mat-flat-button color="warn" class="space-between" (click)="onDelete(kurs.id, kurs.name)">
                <mat-icon fontIcon="delete"></mat-icon>
                Kurs löschen
              </button>
            </mat-card-actions>
          </mat-card>
          </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="spaltenErweitert"></tr>
    <tr mat-row
        class="detail-row-element"
        *matRowDef="let kurs; columns: spaltenErweitert;"
        (click)="expandedElement = expandedElement === kurs ? null : kurs">
    </tr>
    <tr mat-row class="detail-row" *matRowDef="let _; columns: ['expandedInfo']"></tr>

    <tr *matNoDataRow>
      <td colspan="4">Keine Kurse gefunden mit den gegebenen Kriterien. Erstellen Sie einen Kurs, indem Sie auf die Schaltfläche "Kurs erstellen" klicken, oder ändern Sie die Suchkriterien.</td>
    </tr>
  </table>
  <mat-paginator showFirstLastButtons pageSize="10" [pageSizeOptions]="[5,10,20,50]" (page)="onPage()"></mat-paginator>
</div>
