mat-form-field{
  width: 100%;
}

mat-card {
  width: 600px;
  margin-bottom: 20px;
}

mat-form-field{
  margin-bottom: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
