<h1 style="font-size: 30px">{{hourText}}</h1>

<div class="mainDiv">
  <div style="width: 25%">
    <mat-card style="margin-right: 5px">
      <mat-card-title>
        Informationen
      </mat-card-title>
      <mat-card-content>
        <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
        <div *ngIf="!loading">
          <a *ngIf="count == 1">Es ist aktuell <b>{{count}}</b> Aufgabe offen.</a>
          <a *ngIf="count != 1">Es sind aktuell <b>{{count}}</b> Aufgaben offen.</a>
          <br>
          <a *ngIf="count14 == 1">Davon ist <b>{{count14}}</b> fällig in den nächsten 14 Tagen.</a>
          <a *ngIf="count14 != 1">Davon sind <b>{{count14}}</b> fällig in den nächsten 14 Tagen.</a>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/aufgaben"><mat-icon matIconPrefix fontIcon="arrow_forward"></mat-icon>Alle Aufgaben</button>
        <button mat-flat-button color="primary" routerLink="/kurse" style="margin-left: 10px"><mat-icon matIconPrefix fontIcon="arrow_forward"></mat-icon>Alle Kurse</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div style="width: 75%">
    <mat-card style="margin-left: 5px;">
      <mat-card-title>Dringlichste Aufgaben</mat-card-title>
      <mat-card-content>
        <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
        <div *ngIf="!loading">
          <a *ngIf="count == 0">Es gibt aktuell keine Aufgaben, welche offen sind.</a>
          <div *ngFor="let aufgabe of aufgaben">
            <mat-card style="margin-bottom: 10px"
                      matRipple matRippleColor="rgb(0,200,150,0.25)"
                      routerLink="/aufgaben/{{aufgabe.kurs}}">
              <mat-card-title style="font-size: 15px">{{kursDict[aufgabe.kurs]}}</mat-card-title>
              <mat-card-subtitle style="margin-left: 10px; margin-top: -10px">Serie {{aufgabe.seriennummer}}</mat-card-subtitle>
              <mat-card-content style="margin-left: -5px">
                <div><b>Fällig am:</b> {{aufgabe.faelligkeit | date:'dd.MM.yyyy, HH:mm'}} Uhr</div>
                <div *ngIf="aufgabe.kommentar != ''"><b>Kommentar:</b> {{aufgabe.kommentar}}</div>
              </mat-card-content>
              <mat-card-actions style="margin-bottom: -32.5px"></mat-card-actions>
            </mat-card>
          </div>
          <a *ngIf="count > 5">+ {{count-5}} weitere.</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
